<li class="col-md-4 col-sm-4">
	<div class="contain">
		<img src="<%- obj.deal_image_url %>" alt="" class="thumbnail_product img-responsive" />
		<div class="detail_product">
			<a href="#" title="lunette" class="branch_logo"><img src="<%- obj.brand_logo_url %>" alt="lunette logo"/></a>
			<div class="info_product">
			<a href="#" title="<%- obj.deal_title %>"><%- obj.deal_title %></a>
			<p><%- obj.deal_duration %></p>
		</div>
		</div>
		<div class="actdeal">
			<div class="box">
					<p>Giảm <%- parseInt(obj.sale_off) %>%</p>
					<a href="#" title="like"><span></span> 37</a>
			</div>
		</div>
	</div>
</li>